dist: trusty
sudo: false
language: ruby
cache: bundler

env:
  - VAULT_VERSION=1.0.3
  - VAULT_VERSION=1.1.5
  - VAULT_VERSION=1.2.4
  - VAULT_VERSION=1.3.0

before_install:
  - curl -sLo vault.zip https://releases.hashicorp.com/vault/${VAULT_VERSION}/vault_${VAULT_VERSION}_linux_amd64.zip
  - unzip vault.zip
  - mkdir -p ~/bin
  - mv vault ~/bin
  - export PATH="~/bin:$PATH"
  - gem install bundler:2.0.1

script:
  - "bundle exec rake spec"

branches:
  only:
    - master

rvm:
  - 2.4
  - 2.5
